<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main View</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1>Midterm Group B Project</h1>
    <nav>
        <ul>
            <li><a href="/EDA">EDA</a></li>
            <li><a href="/predictions">Predictions</a></li> 
            <!-- <li><a href="/multiply">Multiply</a></li> -->
            <!-- <li><a href="/fruits">Fruits</a></li> -->
            <!-- <li><a href="/users">Users</a></li> -->
        </ul>
    </nav>
</body>
</html>