<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDA View</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1>Midterm Group B Project</h1>
    <h2>EDA</h2>
        <nav>
        <ul>
            <li><a href="/">Back</a></li>
            <!-- <li><a href="/info">Info</a></li> -->
            <!-- <li><a href="/multiply">Multiply</a></li> -->
            <!-- <li><a href="/fruits">Fruits</a></li> -->
            <!-- <li><a href="/users">Users</a></li> -->
        </ul>
    </nav>
    {{ notebook_html | safe }}
</body>
</html>