{% extends 'base.html' %}
{% block title %}
EDA
{% endblock %}

{% block content %}
    <h2>EDA</h2>
        <nav>
        <ul>
            <li><a href="/">Back</a></li>
            <!-- <li><a href="/info">Info</a></li> -->
            <!-- <li><a href="/multiply">Multiply</a></li> -->
            <!-- <li><a href="/fruits">Fruits</a></li> -->
            <!-- <li><a href="/users">Users</a></li> -->
        </ul>
    </nav>
    <section>
    {{ notebook_html | safe }}
    </section>
{% endblock %}